<style>
body {
  font-family: 'Arial';
  background:#ffff;
  padding:1em;
  color:#000;
}

h1 {
  margin-left:1em;
}
p {
  color:#8a8888;
  font-size: 0.8em;
}
ul{
  display: flex;
  display:inline-block;
}
ul li {
  display: block;
  float: left;
  color:#000;
  height:10em;
  width:15em;
  padding:1em;
  border-radius: 15px;
  border: 2px solid #eee;
}

textarea {
  margin-left:2.5em;
  font-family: 'Arial';
  border-radius:5px;
  border: 1px solid #eee;
}

input {
  margin-left:2.5em;
  font-family: 'Arial';
  border-radius:5px;
  border: 1px solid #eee;
}

input[type=submit] {
  background-color: #fdf0c3;
  color: black;
}

</style>

<html>
<h1>Notes App</h1>

<form method="POST" action="">
    {% csrf_token %}
    <input type="text" id="title" name="title" placeholder="title"><br>
    <textarea type="text" id="text" name="text" placeholder="text"></textarea><br>
    <input type="submit" value="submit">
</form>


{% for x in notes %}
<ul>
  <li>
      <h2>{{ x.title }}</h2>
      <p>{{ x.time }}</p>
      {{ x.text }}
  </li>
</ul>
{% endfor %}
</html>
